.header-react {
  font-size: 20px;
  line-height: 1.6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: var(--theree-bg-general);
  width: 100%;
  height: 4em;
}

.menu-hamburguesa {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  cursor: pointer;
  width: 1.5em;
}

.content1,
.content2,
.content3 {
  width: 1.3em;
  height: 0.15em;
  background-color: var(--second-bg-general);
  /* menu hamb items color */
  border-radius: 5px;
  transition: transform 0.2s;
}

.content1-on {
  transform: rotate(45deg) translate(5px, 5px);
}

.content2-on {
  opacity: 0;
}

.content3-on {
  transform: rotate(-45deg) translate(5px, -5px);
}

.nav-off,
.background-nav {
  position: absolute;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.nav-off {
  left: -15em;
  background-color: var(--background-general);
  width: 60vw;
  transition: left 0.2s;
}

.background-nav {
  right: 100%;
  transition: left 0.2s;
  width: 40vw;
  z-index: -1;
  transition: right 0.2s 0.01s;
}

.nav-on {
  left: 0;
}

.background-nav-on {
  right: 0;
  background-color: rgba(0, 0, 0, 0.24);
  z-index: 1000;
}

.nav-off ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.nav-off ul li a {
  color: white;
}

figure {
  width: 3em;
  height: 3em;
  border: 1px solid var(--background-general);
  border-radius: 50%;
}
